<div class="mb-4 w-100">
    <mat-form-field>
      <mat-label>{{label}}</mat-label>
      <input matInput
      [max]="maxDate"
      [matDatepicker]="picker"
      [placeholder]="label"
      [id]="label"
      [formControl]="ngControl.control"
        required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker color="warn"></mat-datepicker>
        <mat-error *ngIf="ngControl.errors && ngControl.touched">
          {{ getErrorMessage() }}
        </mat-error>
    </mat-form-field>
</div>
