<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top img-thumbnail" [src]="member.photoUrl || './assets/default-user-img.png'"
        [alt]="member?.userName" />
      <div class="card-body">
        <span *ngIf="(_presenceService.onlineUsers$ | async)?.includes(member.userName)">
          <i class="fa fa-circle-dot me-1 text-success"></i> Online Now
        </span>
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Member Last Active:</strong>
          <p>{{member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{member.created | date: 'dd MMM yyyy'}}</p>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-warning">Like</button>
            <button (click)="selectTab(3)" class="btn btn-success">Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <tabset class="member-tabset" #memberTabs>
      <tab [heading]="'About ' + member?.userName" (selectTab)="onTabActivated($event)">
        <h3>Description</h3>
        <p>{{member.introduction}}</p>
        <h3>Looking For</h3>
        <p>{{member.lookingFor}}</p>
      </tab>
      <tab heading="Interests" (selectTab)="onTabActivated($event)">
        <h3>Interests</h3>
        <p>{{member.interests}}</p>
      </tab>
      <tab heading="Photos">
        <ngx-gallery class="ngx-gallery"
        [options]="galleryOptions"
        [images]="galleryImages"></ngx-gallery>
      </tab>
      <tab heading="Messages" (selectTab)="onTabActivated($event)">
        <app-member-message [userName]="member?.userName"></app-member-message>
      </tab>
    </tabset>
  </div>
</div>
