<div class="container">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
    <div class="mb-3">
      <!-- <label for="" class="form-label">User Name</label> -->
      <input formControlName="userName" type="text" class="form-control" name="userName" id="userName"
        aria-describedby="helpId" placeholder="Enter User Name" />
      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    </div>

    <div class="mb-3">
      <!-- <label for="" class="form-label">User Name</label> -->
      <input formControlName="email" type="email" class="form-control" name="email" id="email"
        aria-describedby="helpId" placeholder="Enter Email" />
      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    </div>

    <div class="mb-3">
      <!-- <label for="" class="form-label">Password</label> -->
      <input formControlName="password" type="password" class="form-control" name="password" id="password"
        aria-describedby="helpId" placeholder="Enter password" />
      <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
    </div>

    <div class="form-group text-center">
      <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success me-2">Register</button>
      <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
