<div class="row justify-content-center">
  <h2 class="text-center text-primary">Register</h2>
  <hr>
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="col-sm-10 col-md-8 col-lg-5 col-10 mb-3">

<div class="mb-3">
  <div class="form-check form-check-inline p-0 me-5">
    <h4 class="form-check-label fw-normal">I am a: </h4>
  </div>
  <div class="form-check form-check-inline">
    <input formControlName="gender" class="form-check-input" type="radio" id="male" value="male" />
    <label class="form-check-label" for="male">Male</label>
  </div>
  <div class="form-check form-check-inline">
    <input formControlName="gender" class="form-check-input" type="radio"id="female" value="female" />
    <label class="form-check-label" for="female">Female</label>
  </div>
</div>

<app-text-input type="text" label="User Name" [formControl]="registerForm.controls['userName']"></app-text-input>
<app-text-input type="text" label="KnownAs" [formControl]="registerForm.controls['knownAs']"></app-text-input>
<app-date-input [maxDate]="maxDate" label="Date Of Birth" [formControl]="registerForm.controls['dateOfBirth']"></app-date-input>
<app-text-input type="text" label="City" [formControl]="registerForm.controls['city']"></app-text-input>
<app-text-input type="text" label="Country" [formControl]="registerForm.controls['country']"></app-text-input>
<app-text-input type="email" label="Email" [formControl]="registerForm.controls['email']"></app-text-input>
<app-text-input type="password" label="Password" [formControl]="registerForm.controls['password']"></app-text-input>
<app-text-input type="password" label="Confirm Password" [formControl]="registerForm.controls['confirmPassword']"></app-text-input>

    <div class="form-group text-center">
      <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success me-2">
        <i class="fas fa-right-to-bracket mx-1"></i>
        Register</button>
      <button type="button" class="btn btn-warning" routerLink="/home">
        <i class="fas fa-right-left mx-1"></i>
        Cancel</button>
    </div>
  </form>
</div>
