<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-4 my-3" *ngFor="let photo of member.photos">
    <div class="card">
      <img [src]="photo.url" [alt]="photo.url" class="img-fluid rounded-top img-thumbnail object-fit-cover" style="height: 12rem;"/>
      <div class="d-flex justify-content-evenly align-items-center my-2" *ngIf="!photo.isMain">
        <button (click)="setMainMemberPhoto(photo)" type="button" class="btn"
          [ngClass]="photo.isMain ? 'btn btn-success active' : 'btn btn-outline-success'">
          <i class="fas fa-thumbtack my-1"></i>
        </button>
        <button (click)="deleteMemberPhoto(photo.id)" type="button" class="btn btn-danger">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="uploadPhoto()">
      <div class="row align-items-center">
        <div class="col-md-6 mb-3">
          <label for="fileId" class="form-label">Upload Photo</label>
          <input #photoMember id="fileId" type="file" class="form-control" (change)="onFileSelected($event)" />
          <button [disabled]="!currentUserImage" type="submit" class="btn btn-success btn-block my-3">
            <i class="fas fa-file-upload me-2"></i> Upload
          </button>
        </div>
        <div class="col-md-6 text-center">
          <ng-container *ngIf="currentUserImage">
            <img [src]="currentUserImage" class="img-fluid rounded" alt="Uploaded image"
              style="max-width: 100%; max-height: 200px;">
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
