<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../../assets/chat-app-logo-design-template-can-be-used-icon-chat-application-logo_605910-1724.avif"
          class="bi me-2" width="40" height="32" alt="Chat App Logo">
      </a>

      <ul *ngIf="(_authService.currentUser$ | async)"
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <ng-container>
          <li><a routerLink="/member" routerLinkActive="text-white" class="nav-link px-2 text-secondary">Members</a>
          </li>
          <li><a routerLink="/lists" routerLinkActive="text-white" class="nav-link px-2 text-secondary">List</a></li>
          <li><a routerLink="/message" routerLinkActive="text-white" class="nav-link px-2 text-secondary">Images</a>
          </li>
        </ng-container>
      </ul>

      <div class="dropdown" *ngIf="(_authService.currentUser$ | async) as user">
        <button class="btn text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Welcome, {{user.userName | titlecase}}
        </button>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Edit Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a></li>
        </ul>
      </div>

      <form *ngIf="!(_authService.currentUser$ | async)" [formGroup]="loginForm" (ngSubmit)="login()"
        class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <div class="row">
          <div class="col-md-5">
            <input formControlName="userName" type="text" class="form-control form-control-dark"
              placeholder="User Name..." aria-label="User Name">
          </div>
          <div class="col-md-5">
            <input formControlName="password" type="password" class="form-control form-control-dark"
              placeholder="Password..." aria-label="Password">
          </div>
          <div class="col-md-2">
            <div class="text-end">
              <button [disabled]="!loginForm.valid" type="submit" class="btn btn-outline-light me-2">Login</button>
              <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>
