<div class="row justify-content-center">
  <h2 class="text-center text-primary">Reset Password</h2>
  <hr>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="OnSubmitResetForm()" class="col-sm-10 col-md-8 col-lg-5 col-10 mb-3">

<!--<app-text-input type="text" label="User Name" [formControl]="registerForm.controls['userName']"></app-text-input>
    <app-text-input type="email" label="Email" [formControl]="registerForm.controls['email']"></app-text-input> -->
    <app-text-input type="password" label="New Password" [formControl]="resetPasswordForm.controls['newPassword']"></app-text-input>
    <app-text-input type="password" label="Confirm Password"[formControl]="resetPasswordForm.controls['confirmPassword']"></app-text-input>

    <button class="btn btn-success w-100" type="submit" [disabled]="resetPasswordForm.invalid">
      <i class="fas fa-right-to-bracket mx-1"></i>
      Reset</button>
  </form>
</div>
