<div class="row">
  <div class="col-md-4">
    <div class="text-center mt-3">
      <h5>Your Matches - <span class="text-danger fw-bold">{{Pagination?.totalItems}}</span> found</h5>
      <hr>
    </div>
    <div class="container mt-3">
      <form #form="ngForm" class="form-inline" (ngSubmit)="getMembers()" autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="minAge" class="form-label">Age From:</label>
              <input type="number" [(ngModel)]="userParams.minAge" name="minAge" id="minAge" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="maxAge" class="form-label">Age To:</label>
              <input type="number" [(ngModel)]="userParams.maxAge" name="maxAge" id="maxAge" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="gender" class="form-label">Shows:</label>
              <select name="gender" [(ngModel)]="userParams.gender" id="gender" class="form-select">
                <option value="">All</option>
                <option *ngFor="let item of genderList" [value]="item.key">{{item.value}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn btn-block btn-outline-warning">
              <i class="fas fa-magnifying-glass mx-2"></i>
              Filter
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-block btn-outline-info" (click)="resetFilters()">
              <i class="fas fa-rotate mx-2"></i>
              Reset
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-warning">Last Active</button>
              <button type="button" class="btn btn-secondary">New Members</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-3 mb-3 changed-card" *ngFor="let item of members">
        <app-member-card [member]="item"></app-member-card>
      </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="Pagination">
      <pagination [boundaryLinks]="true" [totalItems]="Pagination.totalItems" [itemsPerPage]="Pagination.itemsPerPage"
        [(ngModel)]="Pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>
