
.changed-card {
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  .btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}

  .btn-group .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-block {
    width: 100%;
  }
}

@media (max-width: 413px) {

  .col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
}

@media (max-width: 240px) {
  mat-button-toggle-group{
    flex-wrap: wrap;
    border: none;
  }
}

}

.form-inline .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-inline .form-group label {
  width: 100%;
}

.form-inline .form-group input,
.form-inline .form-group select {
  width: 100%;
}
